.twitch-btn{
    background: #6441a4 !important;
    color: #fff !important;
    display: block !important;
    margin: 15px 0 !important;
    text-align: center !important;
    height: 35px !important;
}
.twitch-btn:before{
    content: ' \f1e8 ';
    font-family: FontAwesome;
    display: inline-block;
    margin-right: 5px;
}


.toplevel_page_login-with-twitch-settings .wp-menu-image{
    background-image: url(../img/glitch.png);
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}